<header>
  <div class="w3-display-container">
    <nav>
      <div class="w3-bar w3-border w3-blue w3-xlarge">
        <div class="container">
          <a class="w3-bar-item w3-button w3-hover-yellow" routerLink="/" routerLinkActive="w3-yellow"
             [routerLinkActiveOptions]="{exact: true}">Настройки биржи</a>
          <a class="w3-bar-item w3-button w3-hover-yellow" routerLinkActive="w3-yellow" routerLink="/brokers">Список
            брокеров</a>
          <a class="w3-bar-item w3-button w3-hover-yellow" routerLinkActive="w3-yellow" routerLink="/stock">Список
            акций</a>
        </div>
      </div>
    </nav>
  </div>
</header>
