<div *ngIf="isShown==true" class="w3-card-4 w3-margin-top broker">
  <header class="w3-container w3-blue w3-hover-yellow">
    <h3>Форма акции</h3>
  </header>
  <div class="w3-container">
    <div class="row">
      <div class="w3-col">
        <form id="stockForm" name="stockForm" #f="ngForm" (ngSubmit)="onSubmit(f)" class="w3-form w3-margin-bottom">

          <label>Название</label>
          <input name="stockTitle" class="w3-input" type="text" [ngModel]="formData.title" required
                 #stockTitle="ngModel" placeholder="Введите название">
          <div *ngIf="stockTitle.invalid && (stockTitle.dirty || stockTitle.touched)"
               class="w3-panel w3-red">Неправильный ввод названия
          </div>

          <label for="stockDistribution">Закон распределения</label>
          <select class="w3-select" name="stockDistribution" id="stockDistribution" [ngModel]="formData.distribution"
                  required
                  #stockDistribution="ngModel">
            <option value="Равномерный">Равномерный</option>
            <option value="Нормальный">Нормальный</option>
            <option value="Биноминальный">Биноминальный</option>
          </select>
          <div *ngIf="stockDistribution.invalid && (stockDistribution.dirty || stockDistribution.touched)"
               class="w3-panel w3-red">Неправильный выбор закона распределения
          </div>

          <label>Количество</label>
          <input name="stockQuantity" class="w3-input" type="number" [ngModel]="formData.quantity" required
                 #stockQuantity="ngModel" [min]="0" pattern="^(?!-1+$)\d+$">
          <div *ngIf="stockQuantity.invalid && (stockQuantity.dirty || stockQuantity.touched)"
               class="w3-panel w3-red">Неправильный ввод количества акций</div>

          <label>Максимальное значение для изменения</label>
          <input name="stockMaxValue" class="w3-input" type="number" [ngModel]="formData.max_value" required
                 #stockMaxValue="ngModel" [min]="0" pattern="^(?!-1+$)\d+$">
          <div *ngIf="stockMaxValue.invalid && (stockMaxValue.dirty || stockMaxValue.touched)"
               class="w3-panel w3-red">Неправильный ввод максимального значения для изменения</div>

          <label>Начальная цена</label>
          <input name="stockStartingPrice" class="w3-input" type="number" [ngModel]="formData.starting_price" required
                 #stockStartingPrice="ngModel" [min]="0" pattern="^(?!-1+$)\d+$">
          <div *ngIf="stockStartingPrice.invalid && (stockStartingPrice.dirty || stockStartingPrice.touched)"
               class="w3-panel w3-red">Неправильный ввод начальной цены</div>

        </form>
      </div>
    </div>
  </div>
  <footer class="w3-container w3-blue">
    <input type="submit" [disabled]="f.invalid" class="w3-button w3-green w3-margin-right" form="stockForm"
           value="Сохранить">
    <button class="w3-button w3-danger w3-margin-right" (click)="closeForm()">Закрыть форму</button>
  </footer>
</div>
